<h1>トップページ_stashtest</h1>
<%= link_to '新規投稿', '/posts/new' %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>

<a href="/posts/new">投稿ページ_元に戻した</a>
<%= link_to '投稿ページ', '/posts/new' %>
